.container{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.button{
    cursor: pointer;
}
.button{
    font-size: 2rem;
}
.btn-container{
    gap: 1rem;
    display: flex;
}
.heading-1{
    font-size: 3rem;
}
.para{
    font-size: 3.5rem;
}